body {
    background-color: rgb(220, 245, 241);
}

header {
    text-align: center;
}

main {
    padding: 30%;
    ;
}

.allquestions {
    padding: 0%;
    color: navajowhite;
}

.option-list-style {
    color: brown;
    border-radius: 1%;
    box-shadow: palegoldenrod;
    border-style: dotted;
}



footer {
    text-align: center;
}