body {
    background-color: beige;
}

header {
    text-align: center;
}

main {
    padding: 15% 50%;
    ;
}

.jsquestions {
    padding: 0;
}

.response1 {
    color: brown;
}

.allquestions {
    padding: 0;
}

footer {
    text-align: center;
}